/* ---------------- Fonts ---------------- */

/* @import url('https://fonts.googleapis.com/css2?family=Lora:wght@400;500;600;700&family=Montserrat:wght@300;400;500;600;700&display=swap'); */

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@300;400;500;600;700&family=Red+Hat+Display:wght@300;400;500;600;700&display=swap');



/* ---------------- Tailwind (v4 syntax) ---------------- */
@import "tailwindcss";
@import "tailwindcss/utilities";


/* ---------------- Theme Tokens ---------------- */
@theme {

  /* === COLORS === */

  /* green & beige palette (ACTIVE) */
  /* --color-dark: #6d8b74; 
  --color-darker: #5f7161;
  --color-light: #d0c9c0;
  --color-lighter: #efead8;
  --color-accent: #f7f3f0;
  --color-btt: #6d152b; */

  /* optional alternate palette (commented) */
  /* --color-dark: #b87a5b; 
    --color-darker: #d98e6f;
    --color-light: #e7d7c9;
    --color-lighter: #fbf8f3;
    --color-accent: #f7f3f0;
    --color-btt: #6d152b; 
  */
/* GOLD */
  /* --color-dark: #8c7e61; 
    --color-darker: ##7d735c;
    --color-light: #f8f5ef;
    --color-lighter: #f8f5ef;
    --color-accent: #;
    --color-btt: #; 
  */

  /* blues/GRAYS palette */
    --color-dark: #4a7487;
    --color-darker: #1b2c33;
    --color-light: #f3f3f3;
    --color-lighter: #FFFFFF;
    --color-accent: #;
    --color-btt: #1b2c33;
  

  /* === TYPOGRAPHY === */

  /* CURRENT */
  /* --font-heading: "Cormorant Garamond", serif;
  --font-body: "Nunito Sans", sans-serif; */

  /* alternates */
 
  /* --font-body: "Montserrat", sans-serif;
  --font-heading: "Lora", serif; */

--font-body: "Red Hat Display", sans-serif;
  --font-heading: "IBM Plex Mono", monospace;
 /*
  --font-heading: "Playfair Display", serif;
  --font-body: "Source Sans 3", sans-serif;

  --font-heading: "Poppins", sans-serif;
  --font-body: "Lora", serif;

  --font-heading: "Raleway", sans-serif;
  --font-body: "Open Sans", sans-serif;
  */
}


/* ---------------- Reusable Utility Classes ---------------- */
@layer components {
.btn-rounded {
  @apply bg-dark text-lighter rounded-full px-5 py-3 hover:opacity-90 transition;
}

.btn-squared {
  @apply bg-btt text-lighter uppercase text-sm 
  font-light py-2 px-6 hover:opacity-80 transition font-body;
}

.heading {
  @apply text-3xl md:text-4xl lg:text-5xl font-light font-heading leading-tight uppercase;
}

.title-italic {
  @apply font-heading italic text-lg md:text-xl lg:text-2xl leading-tight font-light tracking-normal;
}
.title-italic-boxed {
  @apply font-heading italic text-sm md:text-sm lg:text-xl leading-tight font-light tracking-tight;
}
.title {
  @apply font-heading text-base md:text-2xl leading-tight font-light tracking-tight;
}

.paragraph {
  @apply font-body text-sm font-light leading-normal
  tracking-wide;
}

.oversection {
  @apply uppercase tracking-[0.3em] text-sm font-semibold font-body;
}

.parallax-text {
  @apply text-3xl md:text-[54px] leading-[1.25] font-light tracking-tight italic  text-center;
}

.bg-sacred {
  background-image: url('/svg/sacred-geometry.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
}